body{
    background: rgb(10, 0, 53);
}


.form{
    display: flex;
    justify-content: center;
    align-items: center;
}
#model{
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#model-content{
    background: white;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
}
#loan-form{
    background: rgb(51, 0, 170);
    color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
    width: 50%;
}

label{
    margin-top: 10px;
}
input{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    height: 20px;
    border: none;
}
select{
    width: 102%;
    padding: 10px;
    border-radius: 10px;
    height: 40px;
    
}
#submit-loan-btn{
    margin-top: 20px;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    background: rgb(211, 0, 127);
    color: white;
    cursor: pointer;
}
 hr {
    width: 100%;
} 
.disabled {
    background: gray !important;
}

